<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
        <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="/home">
         <mat-icon matListItemIcon>home</mat-icon>
         <span class="cor">Home</span>
      </a>
            <a mat-list-item routerLink="/clientes">
               <mat-icon matListItemIcon>person</mat-icon>
               <span class="cor">Cliente</span>
            </a>
         <a mat-list-item routerLink="produtos">
            <mat-icon matListItemIcon>inbox</mat-icon>
            <span class="cor">Produtos</span>
         </a>
         <a mat-list-item routerLink="insumos">
            <mat-icon matListItemIcon>inbox</mat-icon>
            <span class="cor">Insumos</span>
         </a>
         <a mat-list-item routerLink="contas">
            <mat-icon matListItemIcon>account_balance</mat-icon>
            <span class="cor">Contas</span>
         </a>
         <a mat-list-item routerLink="recebimentos">
            <mat-icon matListItemIcon>credit_card</mat-icon>
            <span class="cor">Recebimentos</span>
         </a>
         <a mat-list-item routerLink="movimentos">
            <mat-icon matListItemIcon>swap_vert</mat-icon>
            <span class="cor">Movimentos</span>
         </a>
         <a mat-list-item routerLink="pedidos">
            <mat-icon matListItemIcon>receipt</mat-icon>
            <span class="cor">Pedidos</span>
         </a>
         <a mat-list-item routerLink="compras">
            <mat-icon matListItemIcon>receipt</mat-icon>
            <span class="cor">Compras</span>
         </a>
         <a mat-list-item routerLink="estoque">
            <mat-icon matListItemIcon>receipt</mat-icon>
            <span class="cor">Regularização de Estoque</span>
         </a>
     <!--    <a mat-list-item routerLink="rank">
            <mat-icon matListItemIcon>list_alt</mat-icon>
            <span class="cor">Ranking</span>
         </a>
      -->
          <!-- Item "Relatório" com submenu -->
  <mat-expansion-panel class="submenu-panel" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>list_alt</mat-icon>
        <span class="cor">Relatório</span>
      </mat-panel-title>
       <mat-panel-description>
      <mat-icon class="arrow">expand_more</mat-icon>
    </mat-panel-description>
    </mat-expansion-panel-header>

   <mat-nav-list>
  <a mat-list-item (click)="imprimirRelatorio('relatorio_pedidos_abertos_por_clientes')">
    <mat-icon>bar_chart</mat-icon>
    <span class="cor">Relatório de Vendas</span>
  </a>
  <a mat-list-item (click)="imprimirRelatorio('relatorio_venda_diaria')">
    <mat-icon>inventory</mat-icon>
    <span class="cor">Relatório de Estoque</span>
  </a>
</mat-nav-list>
  </mat-expansion-panel>
       <!--  <a mat-list-item routerLink="relatorio">
            <mat-icon matListItemIcon>list_alt</mat-icon>
            <span class="cor">Relatório</span>
         </a>
       -->
         <a mat-list-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span class="cor">Logout</span>
         </a>
        </mat-nav-list>
    </mat-drawer>
    <div class="sidenav-content">
        <button class="menu mat-elevation-z8" (click)="drawer.toggle()" mat-icon-button>
            <mat-icon>menu</mat-icon>
          </button>
        <app-header></app-header>
      
      <router-outlet></router-outlet>
    </div>
  
  </mat-drawer-container>